/* @import "./base/_base"; */
/* Palette */
/* Texte */
.txt {
  font-family: "Roboto";
}
.txt .txt--bold {
  font-weight: bold;
}
.txt .txt--entry {
  margin-left: 5%;
}
.txt .txt--small {
  font-size: 12px;
}
.txt .txt--medium {
  font-size: 20px;
}
.txt .txt--large {
  font-size: 26px;
}

h1 {
  font-family: "Shrikhand";
  text-align: center;
}

/* body */
body {
  margin: 0px;
}

/* hearder */
.location {
  display: flex;
  width: 100%;
  height: 45px;
  background-color: #d1d1d1;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  border-top: solid;
  border-top-color: grey;
}

.reservation {
  display: flex;
  width: 100%;
  height: 300px;
  background-color: #ececec;
  font-family: "Roboto";
  justify-content: center;
  align-items: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Roboto";
  padding-bottom: 10px;
}
.reservation .reservation__bloc {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.btn_exploration {
  display: flex;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 35px;
  color: white;
  width: 70% !important;
  height: 65px !important;
}

/* main */
main {
  font-family: "Roboto";
}

.fonctionnement {
  background-color: white;
  display: flex;
  width: 100%;
  height: auto;
  align-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Roboto";
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}
.fonctionnement .fonctionnement__bloc {
  display: flex;
  width: 90%;
  height: 100px;
  background-color: #ececec;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  margin: 5px;
  -webkit-box-shadow: 1px 1px 3px 1px #dedede;
  -moz-box-shadow: 1px 1px 3px 1px #dedede;
  box-shadow: 1px 1px 3px 1px #dedede;
}
.fonctionnement .fonctionnement__bloc .fonctionnement__bloc--number {
  align-self: left;
  place-self: left;
  background-color: #9356DC;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-justify: center;
  line-height: 26px;
  color: white;
  position: relative;
  left: -30%;
}
.fonctionnement .fonctionnement__bloc .fonctionnement__bloc--icon {
  color: grey;
  font-size: 20px;
  position: relative;
  left: -65px;
}

.restaurants {
  display: flex;
  width: 100%;
  background-color: #ececec;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 10%;
}
.restaurants .restaurants__bloc {
  display: flex;
  height: 200px;
  background-color: white;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  background-color: white;
  border-radius: 35px;
  margin: 25px 5px 5px 5px;
  -webkit-box-shadow: 1px 1px 3px 1px #dedede;
  -moz-box-shadow: 1px 1px 3px 1px #dedede;
  box-shadow: 1px 1px 3px 1px #dedede;
}

h2 {
  width: 100%;
}

figcaption {
  width: 100%;
  padding-left: 20px;
  display: flex;
}

/* footer */
footer {
  display: flex;
  background-color: #1b1b1b;
  color: white;
  width: 100%;
  height: 300px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
}

.footer_icon {
  margin-right: 15px;
}

.titre_footer {
  font-family: "Shrikhand";
  width: 100%;
}

.lien_footer {
  display: flex;
  width: 100%;
  font-family: "Roboto";
}

.img_cover {
  object-fit: cover;
  width: 100%;
  height: 75%;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

/*# sourceMappingURL=style.css.map */
