/* Import */

@import "./utils/_variables";
@import "./utils/_functions";
@import "./utils/_mixins";
@import "./utils/_extensions";

@import "./components/_buttons";
@import "./components/_animation";

@import "./base/_typography";
@import "./base/_base";

/* @import "./layout/_container"; */
@import "./layout/_header";
@import "./layout/_footer";
@import "./layout/_nav";
@import "./layout/_form";

@import "./pages/_index";
@import "./pages/_menu";
@import "./pages/_work";
@import "./pages/_about";
@import "./pages/_project";


h2{
    width: 95% !important;
}

h1{
    margin: 0%;
    padding: 20px;
}

.reservation{
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

figcaption
{
    width: 100%;
    display:flex;
    flex-direction: column;
}