/* index */

.fonctionnement
{
    background-color: white;
    display: flex;
    width: 100%;
    height: auto;
    align-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "Roboto";
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    margin-top: 40px;
    .fonctionnement__bloc
    {
        display: flex;
        width: 90%;
        max-width: 400px;
        height: 100px;
        background-color: $background_color;
        justify-content: center;
        align-items: center;
        border-radius: 35px;
        margin: 5px;
        -webkit-box-shadow: 1px 1px 3px 1px rgba(222,222,222,1);
        -moz-box-shadow: 1px 1px 3px 1px rgba(222,222,222,1);
        box-shadow: 1px 1px 3px 1px rgba(222,222,222,1);
        &:hover{
            background: lighten($primary_color, 35%);
            .fonctionnement__bloc--icon{
                color: $primary_color;
            }
        }
        .fonctionnement__bloc--number
        {
            background-color: $primary_color;
            border-radius: 50%;
            height: 25px;
            width: 25px;
            justify-content: center;
            align-items: center;
            text-align: center;
            line-height:26px;
            color: $white;
            position: relative;
            left: -27%;
        }
        .fonctionnement__bloc--icon
        {
            color:grey;
            font-size: 20px;
            position: relative;
            left: -65px;
        }
    }
}



.restaurants
{
    display: flex;
    width: 100%;
    background-color: $background_color;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 80px;
    max-width: 1000px;
    .restaurants__bloc
    {
        display: flex;
        height: 250px;
        background-color: $white;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 90%;
        max-width: 400px;
        background-color: $white;
        border-radius: 35px;
        margin: 25px 5px 5px 5px;
        -webkit-box-shadow: 1px 1px 3px 1px rgba(222,222,222,1);
        -moz-box-shadow: 1px 1px 3px 1px rgba(222,222,222,1);
        box-shadow: 1px 1px 3px 1px rgba(222,222,222,1);
        .restaurants__bloc--nouveau{
            background-color: $third_color;
            position: relative;
            top: -85%;
            left: 55%;
            display: flex;
            border: solid;
            border-color: $third_color;
            color: darken($third_color, 35%);
            width: 65px;
        }
        .restaurants__bloc--like {
            color: grey;
            position: relative;
            top: -21%;
            left: 10%;
            font-size: 30px;
        }
    }
}

.bloc_restaurants_txt
{
    width: 90%;
    padding-left: 20px;
    display:flex;
    padding-top: 10px;
}

figcaption
{
    width: 100%;
    display:flex;
    flex-direction: column;
    padding-left: 0px;
    padding-top: 0px;
}

.restaurants__bloc--nouveau{
    background-color: $third_color;
    position: relative;
    top: -85%;
    left: 55%;
    display: flex;
    border: solid;
    border-color: $third_color;
    color: darken($third_color, 35%);
    width: 65px;
    height: 20px;
}
.restaurants__bloc--like{
    color:grey;
    position: relative;
    top: -21%;
    left: 10%;
    font-size: 30px;
    &:hover{
        .like{
            font-weight: 800 !important;
            animation-name: like-animation2;
            animation-duration: 1000ms;
            animation-fill-mode: both;
            &::before{
                font-weight: 800 !important;
                -webkit-background-clip: text;
                animation-name: like-animation;
                animation-duration: 1000ms;
                animation-fill-mode: both;
            }
        }
            
    }
}

.restaurants__bloc
    {
        display: flex;
        height: 250px;
        background-color: $white;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 90%;
        max-width: 400px;
        background-color: $white;
        border-radius: 35px;
        margin: 25px 5px 5px 5px;
        -webkit-box-shadow: 1px 1px 3px 1px rgba(222,222,222,1);
        -moz-box-shadow: 1px 1px 3px 1px rgba(222,222,222,1);
        box-shadow: 1px 1px 3px 1px rgba(222,222,222,1);
        &:hover{
            animation-name: restaurant__bloc;
            animation-duration: 800ms;
            animation-fill-mode: both;
        }
    }

    .restaurants__bloc--figure{
        width: 100%;
        height: 100%;
        margin: 0px;
    }

    @media screen and (max-width: 360px) {
        .fonctionnement__bloc--number {
            left: -25% !important;
        }

        .restaurants__bloc--nouveau {
            left: 50% !important;
        }
    }

    .reservation{
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }