/* menu */
.menu__bloc--validation
{
    display: grid;
    width: 15%;
    height: 100%;
    transform: translate(250px,4px)scale(1.22);
    background-color: transparent;
    place-items: center;
    font-size: 20px;
}

.icon-validation
{
    color:$white;
}

.menu__bloc--recette_prix
{
    display: flex;
    width: 10%;
    padding-top: 6%;
    font-weight: bold;
    align-self: self-end;
    align-self: flex-end;
    position: relative;
    left: 40px;
    top: -9px;
}

.menu__titre{
    width: 90% !important; 
    font-size: 7vw;
    padding-left: 8vw;
    padding-top: 5%;
    display: flex;
}

.menu__bloc--recette{
    width: 92%;
    height: 65px !important;
    background-color: $white;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 3%;
    padding-bottom: 0% !important;
    display: flex;
    overflow: hidden;
    
    animation-duration: 2500ms;
    animation-fill-mode: both;
    animation-name: bloc-apparition;
    
    &:hover{
        .menu__bloc--validation
        {
        animation-name: validation-recette;
        animation-duration: 1000ms;
        animation-fill-mode: both;
        width: 21%;
            .icon-validation
            {
            transition-property: transform;
            transition-duration: 1000ms;
            transform: rotate(360deg);
            }
        }
        .menu__bloc--recette_prix
        {
            margin-left: 0%;
            transition-property: transform;
            transition-duration: 1000ms;
        }
        
    }
}



.menu__bloc__titre{
    animation-duration: 2500ms;
    animation-fill-mode: both;
    animation-name: bloc-apparition;
    font-weight: normal;
}

.menu__bloc--recette--text
{
    display: flex;
    flex-direction: column !important;
    width: 70%;
    .menu__bloc--recette__plat
    {
    width: 100%;
    padding-left: 5%;
    padding-top: 2%;
    }
    .menu__bloc--recette__commentaire{
        width: 100%;
        padding-left: 5%;
        padding-top: 2%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.menu__like{
    color: grey;
    padding-left: 5%;
    }

.menu__like-on
{
    color: red;
    padding-left: 5%;
    display: none;
}

.menu__titre{
    &:hover{
        .menu__like{
            font-weight: 800 !important;
            animation-name: like-animation2;
            animation-duration: 1000ms;
            animation-fill-mode: both;
            text-shadow: 0 0 5px rgb(146, 102, 155);
            &::before{
                background-clip: text;
                animation-name: like-animation;
                animation-duration: 1000ms;
                animation-fill-mode: both;
            }
        }
    }
}

.img_cover
{
    object-fit: cover;
    width: 100%;
    height: 70%;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}
.img_menu
{
    object-fit: cover;
    width: 100%;
    z-index: 0;
    height: 300px;
}

.main_menu
{
    background-color: $background_color;
}
.disabled{
    color: transparent !important;
    background-color: transparent !important;
    border: transparent !important;
}

.menu
{
    width: 100%;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    padding-bottom: 25px;
    position: relative;
    top: -50px;
    background-color: $background_color;
    max-width: 1000px;
    

    .menu__bloc{
        width: 100%;
        .menu__bloc__titre{
            width: 95%;
            padding-left: 5%;
            text-decoration: underline $third_color;
            text-decoration-thickness: 5px;
            text-underline-offset: 5px;
        }

        .menu__bloc--recette{
            width: 92%;
            height: 75px;
            background-color: $white;
            border-radius: 15px;
            padding-bottom: 0%;
            margin-top: 10px;
            margin-bottom: 15px;
            margin-left: 3%;
            transition-property: transform;
            transition-duration: 1000ms;
            display: flex;
            overflow: hidden;

            animation-duration: 2500ms;
            animation-fill-mode: both;
            animation-name: bloc-apparition;
            &:hover{
                .menu__bloc--validation
                {
                animation-name: validation-recette;
                animation-duration: 1000ms;
                animation-fill-mode: both;
                    .icon-validation
                    {
                    transition-property: transform;
                    transition-duration: 1000ms;
                    transform: rotate(360deg);
                    }
                }
                .menu__bloc--recette_prix
                {
                    margin-left: 0%;
                transition-property: transform;
                transition-duration: 1000ms;
                transform:translate(-40px,0px);
                }
                .menu__bloc--recette--text {
                    width: 60%;
                    margin-right: 10%;
                }
            }

            .menu__bloc--recette--text
            {
                display: flex;
                flex-direction: row;
                
                .menu__bloc--recette__plat
                {
                width: 100%;
                padding-left: 5%;
                padding-top: 12px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                }
                .menu__bloc--recette__commentaire{
                    width: 100%;
                    padding-left: 5%;
                    padding-top: 8px;
                    font-size: 14px;

                }
            }
        }
    }
}

@media screen and (min-width: 1000px) {

    .menu__titre{
        font-size: 70px;
    }

}