/* main */

main
{
    font-family: "Roboto";
}
body{
    margin: 0px;
}


.fonctionnement
{
    background-color: white;
    display: flex;
    width: 100%;
    height: auto;
    align-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "Roboto";
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    .fonctionnement__bloc
    {
        display: flex;
        width: 90%;
        height: 100px;
        background-color: $background_color;
        justify-content: center;
        align-items: center;
        border-radius: 35px;
        margin: 5px;
        -webkit-box-shadow: 1px 1px 3px 1px rgba(222,222,222,1);
        -moz-box-shadow: 1px 1px 3px 1px rgba(222,222,222,1);
        box-shadow: 1px 1px 3px 1px rgba(222,222,222,1);
        .fonctionnement__bloc--number
        {
            align-self: left;
            place-self: left;
            background-color: $primary_color;
            border-radius: 50%;
            height: 25px;
            width: 25px;
            justify-content: center;
            align-items: center;
            text-align: center;
            text-justify: center;
            line-height:26px;
            color: $white;
            position: relative;
            left: -30%;
        }
        .fonctionnement__bloc--icon
        {
            color:grey;
            font-size: 20px;
            position: relative;
            left: -65px;
        }
    }
}



.restaurants
{
    display: flex;
    width: 100%;
    background-color: $background_color;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
    .restaurants__bloc
    {
        display: flex;
        height: 250px;
        background-color: $white;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 90%;
        background-color: $white;
        border-radius: 35px;
        margin: 25px 5px 5px 5px;
        -webkit-box-shadow: 1px 1px 3px 1px rgba(222,222,222,1);
        -moz-box-shadow: 1px 1px 3px 1px rgba(222,222,222,1);
        box-shadow: 1px 1px 3px 1px rgba(222,222,222,1);
        .restaurants__bloc--nouveau{
            background-color: $third_color;
            position: relative;
            top: -90%;
            left: 54%;
            display: flex;
            border: solid;
            border-color: $third_color;
            color: darken($third_color, 35%);
        }
        .restaurants__bloc--like{
            color:grey;
            position: relative;
            top: -10%;
            left: 10%;
            
        }
    }
}

h2{
    width: 100%;
}
figcaption
{
    width: 100%;
    padding-left: 20px;
    display:flex;
    padding-top: 10px;
}

/* footer */

footer
{
    display: flex;
    background-color: rgb(27, 27, 27);
    color: white;
    width: 100%;
    height: 300px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
}

.footer_icon
{
    margin-right: 15px;
}

.titre_footer
{
    font-family: "Shrikhand";
    width: 100%;
}

.lien_footer
{
    display: flex;
    width: 100%;
    font-family: "Roboto";
}

.img_cover
{
    object-fit: cover;
    width: 100%;
    height: 70%;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}
.img_menu
{
    object-fit: cover;
    width: 100%;
    z-index: -1;
}

.main_menu
{
    background-color: $background_color;
}
.disabled{
    color: transparent !important;
    background-color: transparent !important;
    border: transparent !important;
}

.menu
{
    width: 100%;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    padding-bottom: 25px;
    position: relative;
    top: -50px;
    background-color: $background_color;
    .menu__like{
        color: grey;
        position: relative;
    left: 18%;
    }
    .menu__titre{
        width: 100%;
        position: relative;
        left: -10%;
        top: 2%;
    }

    .menu__bloc{
        width: 100%;
        .menu__bloc__titre{
            width: 100%;
            padding-left: 5%;
            text-decoration: underline $third_color;
            text-decoration-thickness: 5px;
            text-underline-offset: 5px;
        }
        .menu__bloc--recette{
            width: 92%;
            background-color: $white;
            border-radius: 15px;
            margin-top: 10px;
            margin-bottom: 15px;
            margin-left: 3%;
            padding-bottom: 2%;
            transition-property: transform;
            transition-duration: 1000ms;
            .menu__bloc--recette--text
            {
                display: flex;
                flex-direction: row;
                .menu__bloc--recette__plat
                {
                width: 100%;
                padding-left: 5%;
                padding-top: 2%;
                }
                .menu__bloc--recette__commentaire{
                    width: 100%;
                    padding-left: 5%;
                    padding-top: 2%;
                }
            }
        }
    }
}