.btn_exploration
{
  display:flex;
  background: linear-gradient($secondary_color , $primary_color);
  border-radius: 35px;
  color: $white;
  height: 65px !important;
  width: 70%;
  max-width: 400px;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-left: 5%;
  padding-right: 5%;
  &:hover{
    animation-name: btn-click ;
    animation-duration: 500ms;
    animation-fill-mode: both;
  }
}

.btn_commander
{
    display:flex;
    background: linear-gradient($secondary_color , $primary_color);
    border-radius: 35px;
    color: $white;
    width: 50% !important;
    height: 50px !important;
    justify-content: center;
    position: relative;
    left: 25%;
    line-height: 3;
    margin-top: 40px;
    &:hover{
      animation-name: btn-click ;
      animation-duration: 500ms;
      animation-fill-mode: both;
    }
    
}

.btn_retour{
    color: grey;
    position: relative;
    left: -18%;
}