/* Texte */
.txt{
    font-family: "Roboto";
    .txt--bold{
        font-weight: bold;
    }
    .txt--entry{
        margin-left: 5%;
    }
    .txt--small{
        font-size: 15px;
    }
    .txt--medium{
        font-size: 20px;
    }
    .txt--large{
        font-size: 26px;
    }
}

h1{
    font-family: "Shrikhand";
    text-align: center;
}